rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone with your Firestore database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days because it
    // leaves your app open to attackers. At that time, all client
    // requests to your Firestore database will be denied.
    //
    // Make sure to write security rules for your app before that time, or else
    // all client requests to your Firestore database will be denied until you Update
    // your rules
    
    // He expandido la regla inicial no segura que permite todo hasta el 10 de Junio
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2024, 6, 10);
    }
		
    // Reglas provisionales (Hay que mejorarlas y asegurarse que funcionen correctamente)
    // Regla para la colección 'users'
    match /users/{uid} {
      allow update, delete:
      	if request.auth != null
        && request.auth.uid == uid;
        
      allow create, read: 
      	if request.auth != null;
    }

    // Regla para la colección 'events'
    match /events/{event} {
      allow create, read, update, delete:
      	if request.auth != null;
    }

    // Regla para la colección 'songs'
    match /songs/{song} {
      allow create, read, update, delete:
      	if request.auth != null;
    }

    // Regla para la colección 'groups'
    match /groups/{group} {
      allow create, read, update, delete:
      	if request.auth != null;
    }
  }
}
